---
//@ts-nocheck
import servicesData from "@data/services.json";
console.log(servicesData);
---

<ul>
  {
    servicesData.services.map((service) => (
      <li>
        <h2>{service.title}</h2>
        <p>{service.description}</p>
        <a href="#0" class="servicebutton">
          {service.buttonText}
        </a>
      </li>
    ))
  }
</ul>

<style>
  @layer components {
    li {
      display: flex;
      padding: 46px;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      gap: 10px;
      flex: 1 0 0;
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(38, 38, 38, 0.9);
      backdrop-filter: blur(16px);

      h2 {
        color: #fff;
        font-family: Cabin;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 29px;
        text-align: left;
      }
    }
    /* ul {
      display: grid;
       grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 24px;

      position: absolute;
      top: 500px; 

      width: 100%;
      z-index: 1;
    }*/
  }
</style>
